<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <title>
        <%=book.title%> | Bibliodome | Where Words Come To Life
    </title>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div class="container text-center">
        <h1><%-book.title%></h1>
        <div class="row">
            <div class="col-sm-4">
                <img src="<%=book.img%>" />
            </div>
            <div class="col-sm-8">
                <h2><%-book.authors%></h2>
                <p class="book-description">
                    <%-book.description%>
                </p>
            </div>
        </div>
        <form action="/books/<%=book.id%>/rate" method="POST">
            <button class="btn btn-success" type="submit">
                Rate this book!
            </button>
        </form>
        <div>
            <h2>User Reviews</h2>
            <% for (let i = 0; i < book.reviews.length; i++) { %>
            <p>Review: <%= book.reviews[i].review %></p>
            <p>Rating: <%= book.reviews[i].rating %></p>
            <p>By: <%= book.reviews[i].reviewer %></p>

            <% } %>
        </div>
    </div>

</body>

</html>