<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <title>
        <%=book.title%> | Bibliodome | Where Words Come To Life
    </title>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div class="container text-center">
        <h1><%-book.title%></h1>
        <div class="row">
            <div class="col-sm-4">
                <img src="<%=book.img%>" />
            </div>
            <div class="col-sm-8">
                <h2><%-book.authors%></h2>
                <p class="book-description">
                    <%-book.description%>
                </p>
            </div>
        </div>

        <% let found; %>
        <% for (let i = 0; i < book.reviews.length; i++) { %>
        <% if (currentUser) {%>
        <% if (book.reviews[i].reviewer === currentUser.username) {%>
        <% found = true; %>
        <%}%>
            <%}%>
        <%}%>
        <% console.log(found)%>
        <% if (found) {%>
        <p>You have already rated this book!</p>
        <button class="btn btn-success disabled" type="submit">
            Rate this book!
        </button>
        <a href="/books/<%=book.id%>/edit-review">Edit Review</a>
        <% } else {%>
        <form action="/books/<%=book.id%>/rate" method="POST">
            <button class="btn btn-success" type="submit">
                Rate this book!
            </button>
        </form>

        <% } %>
        <div>
            <h2>User Reviews</h2>
            <% for (let i = 0; i < book.reviews.length; i++) { %>
            <p>Review: <%= book.reviews[i].review %></p>
            <p>Rating: <%= book.reviews[i].rating %></p>
            <p>By: <%= book.reviews[i].reviewer %></p>
            <% if (currentUser) {%>
            <% if (book.reviews[i].reviewer === currentUser.username) {%>
            <button class='btn'>
                <a href="/books/<%=book.id%>/edit-review">Edit Review</a>
            </button>
            <%}%>
            <% }%>

            <% } %>
        </div>
    </div>

</body>

</html>