<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <title>
        <%=data.volumeInfo.title%> | Bibliodome | Where Words Come To Life
    </title>
</head>

<body>
    <div class="wrapper bk">
        <% include ../partials/nav.ejs %>
        <main>
            <div class="container">
                <h2><%-data.volumeInfo.title%></h2>
                <div class="row">
                    <div class="col s12 m3">
                        <img src="<%=data.volumeInfo.imageLinks.thumbnail%>" />
                    </div>
                    <div class="col s12 m9">
                        <h4><%-data.volumeInfo.authors%></h4>
                        <p class="book-description">
                            <%-data.volumeInfo.description%>
                        </p>
                    </div>
                </div>
                <div class="center-align ">
                    <form action="/reviews/<%=data.id%>/new?_method=PUT" method="POST">
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea-review" class="materialize-textarea"></textarea>
                                <label for="textarea-review">Your Review</label>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light submit-rating" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </main>
        <% include ../partials/footer.ejs %>
    </div>
</body>

</html>