<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head.ejs %>
    <title>Bibliodome | Where Words Come To Life</title>
</head>

<body>
    <% include ../partials/nav.ejs %>
    <div class="container">
        <h1>Search Results</h1>
        <div class="row">
            <div class="col s12 m6">
                <% for (let i = 0; i < data.items.length; i++) { %>
                <div class="card horizontal teal lighten-5">
                    <div class="card-image">
                        <% if (data.items[i].volumeInfo.hasOwnProperty('imageLinks')) {
                                        %>
                        <img src="<%= data.items[i].volumeInfo.imageLinks.thumbnail %>" class="card-img" />
                        <%} else { %>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                            width="100%" />
                        <% } %>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h5> <%= data.items[i].volumeInfo.title %>
                            </h5>
                            <div class="book-description-rp"> <%= data.items[i].volumeInfo.description %>
                            </div>
                            <h5>Author: <%= data.items[i].volumeInfo.authors %></h5>
                            <div>
                                <form action="/books/<%=data.items[i].id%>/rate" method="POST">
                                    <button class="btn btn-success" type="submit">
                                        Rate this book!
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% if (i === 4) { %>
    </div>
    <div class="col s12 m6">
        <% } %> <%}%>
        </div>
      </div>
    </div>
</body>

</html>