<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head.ejs %>
    <title>Bibliodome | Where Words Come To Life</title>
</head>

<body>
    <% include ./partials/nav.ejs %>
    <div class="container text-center">

        <h1>Bibliodome: Where Words Come To Life</h1>
        <div class="row">
            <div class="col-sm-6">
                <h2>Popular</h2>
                <% for (let i = 0; i < book.length; i++) { %>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="<%= book[i].img %>" class="card-img" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= book[i].title %>
                                </h5>
                                <p class="card-text card-description">
                                    <%- book[i].description %>
                                </p>
                                <p class="card-text">
                                    <%= book[i].authors %>
                                </p>
                                <p><%=book[i].rating%>/5 (<%= book[i].ratingCount %> reviews)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
            </div>
            <div class="col-sm-6">
                <h2>Search</h2>
                <form action="/books/results" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Book Title</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" name="title">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Book Author</span>
                        </div>
                        <input type="text" class="form-control" aria-label="Default"
                            aria-describedby="inputGroup-sizing-default" name="author">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>

                </form>
            </div>
        </div>

    </div>
</body>

</html>